@font-face {
  font-family: "rainyhearts";
  src: url("assets/fonts/rainyhearts.woff2") format("woff2"),
    url("assets/fonts/rainyhearts.woff") format("woff"),
    url("assets/fonts/rainyhearts.tff") format("tff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dogicapixel";
  src: url("assets/fonts/Dogica_Pixel.woff2") format("woff2"),
    url("assets/fonts/Dogica_Pixel.woff") format("woff"),
    url("assets/fonts/Dogica_Pixel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#fullscreenButton-div {
  display: flex;
  padding: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(30, 46, 27);
  text-align: center;
}

#fullscreen-button {
  width: 100%;
  height: 20vh;
  border: 1px solid black;
  border-radius: 20px;
  background-color: green;
  color: white;
  font-size: 56px;
  font-family: "dogicapixel";
}

#rotateScreenTip {
  font-size: 23px;
  color: white;
}
